
body {
  font-family: Arial,lucida-sans,Helvetica,Tahoma;
  background: url('../images/background.jpg');
}


h4 small {
    display: block;
    font-size: 60%;
    color: #888;
}

.mainContent, footer.container {
    max-width: 900px;
}

footer.container {
/*    margin-top: 30px;*/
    padding: 10px 0;
/*    border-top: 1px dashed #aaa;*/
}

@media (max-width: 767px) {
    .sidebar {
        padding-top: 30px;
    }
}
@media (min-width: 980px) {
    body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        padding-bottom: 40px;
    }
}

/** imbrincated containers should not have fixed width */
.container .container {
    width: auto;
}

.navbar-inverse.navbar-tkc .navbar-inner {
  background: #30384B;
}

/*@media (min-width: 768px) {
  .navbar-nav>li>a {
    margin: 0 .5em;
    padding: .5em;
  }
}*/

.navbar-inverse.navbar-tkc .navbar-nav>li>a {
  border-top: 5px solid #30384B;
}

.navbar-inverse.navbar-tkc .navbar-nav>.active>a {
  background-color: inherit;
  border-top: 5px solid #CC3514;
  color: #fff;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
  color: #fff;
  border-top: 5px solid #ccc;
}

.navbar .brand {
  margin: 1px;
  padding: 0px;
}

.navbar-brand>img {
  height: 50px;
  display: inline;
}

@media (max-width: 979px) {
  .navbar .btn-navbar {
    display: inline-block;
    background-color: #00D2FF;
    min-height: 5em;
  }
}

.navbar .navbar-brand {
  height: inherit;
}

/* screen size needs more love */
@media (min-width: 979px) {

  .mainContent {
    margin-top: 50px;
  }

  .navbar .nav {
    float: right;
    margin: 0 1em .5em 1em;
  }
}

article h2, h3 {
/*  font-family: 'Amaranth';*/
  font-family: "futura-pt",sans-serif;
  font-weight: 700;
  font-size: 28px;
}

article h2, h3, code,
h2 a, h3 a, h2 a:hover, h3 a:hover, h2 a:focus, h3 a:focus {
  color: #3D5899;
}

a, a:hover, a:focus {
  color: #CC3514;
}

.separator-bottom {
  background: url('../images/separator-for-bottom.png') repeat-x;
  width: 100%;
  height: 17px;
}

.panel {
  float: left;
  margin: 1em;
}

h3.panel-title {
  color: #3D5899;
}

.blog-posts h2 {
  border-bottom: 1px solid #30384B;
  color: #30384B;
  opacity: 0.8;
}

.blog-posts h3 {
  font-size: 22px;
}

.blog-posts .nav>li>a, .blog-posts .nav>li>a:visited {
  background-color: #eee;
  opacity: 0.8;
  padding: 2px;
}

.blog-posts .nav>li>a:hover, .blog-posts .nav>li>a:focus {
  background-color: #ddd;
}

.blog-posts .span4 {
  width: 29%;
}

.tk-services ul.pager {
  clear: both;
  margin-bottom: 0;
}

.tk-services ul.pager li>a {
  background-color: #30384B;
}
.tk-services ul.pager li>a:hover, .tk-services ul.pager li>a:focus {
  background-color: #30384B;
}

.tel dt, .email dt {
  display: inline;
}

.tel dd, .email dd {
  margin-left: 5px;
  display: inline-block;
}

.tel>span.glyphicon {
  margin-right: 1em;
}

footer ul.social {
  list-style: none;
}

footer ul.social li {
  display: inline-block;
  padding: 0 1em;
}

footer ul.social li a {
  display: block;
  width: 48px;
  height: 48px;
  text-indent: -99999px;
}

footer ul.social li.facebook a {
  background: url('../images/social/black-facebook.png') bottom no-repeat;
}

footer ul.social li.facebook a:hover {
  background: url('../images/social/colour-facebook.png') bottom no-repeat;
}

footer ul.social li.github a {
  background: url('../images/social/black-github.png') bottom no-repeat;
}

footer ul.social li.github a:hover {
  background: url('../images/social/colour-github.png') bottom no-repeat;
}

footer ul.social li.twitter a {
  background: url('../images/social/black-twitter.png') bottom no-repeat;
}

footer ul.social li.twitter a:hover {
  background: url('../images/social/colour-twitter.png') bottom no-repeat;
}
