{% extends "default_v4" %}

{% block post_title %}
<h1 class="card-title">{{ page.title }}</h1>
<hr />
{% endblock post_title %}

{% block contentSidebar %}
<div class="card">

<ul class="list-group list-group-flush">
    <li class="list-group-item">
    {% include 'post_categories.html' with {'categories': page.categories} only %}
    </li>
    <li class="list-group-item">
    {% include 'post_tags.html' with {'tags': page.tags} only %}
    </li>

    <li class="list-group-item">
        <a class="author-name" itemprop="author"  itemscope="" itemtype="http://schema.org/Person" href="{{ site.url }}/team/georgiana-gligor/">
        <i class="icon ion-person"></i>
        {{ page.author }}
        </a>
    </li>
    <li class="list-group-item">
        <i class="icon ion-clock"></i>
        <time datetime="{{ page.date|date('c') }}" pubdate>
            <span class='month'>{{ page.date|date('M') }}</span> <span class='day'>{{ page.date|date('jS') }}</span> <span class='year'>{{ page.date|date('Y') }}</span>
        </time>
        </small>
    </li>
</ul>

</div><!-- .card -->


{% if page.previous_post or page.next_post %}
<div class="card mt-3 mb-4 p-3">
<div class="row">
<div class="col">
    {%- if page.previous_post -%}
    <a href="{{ site.url }}{{ page.previous_post.url }}" title="{{ page.previous_post.title }}" class="card-link">
        <i class="icon ion-arrow-left-c"></i>
        <span class="title">Older post</span>
    </a>
    {%- endif -%}
</div>
<div class="col text-right">
    {%- if page.next_post -%}
    <a href="{{ site.url }}{{ page.next_post.url }}" title="{{ page.next_post.title }}">
        <span class="title">Newer post</span>
        <i class="icon ion-arrow-right-c"></i>
    </a>
    {%- endif -%}
</div>
</div><!-- .row -->
</div>
{% endif %}
{% endblock contentSidebar %}
