<footer class="footer" id="footer">
  <div class="container">

    <div class="col-md-12 text-center margin-bottom">
      <p class="footer-about">Automation testing, large scale applications architecture and DevOps expertise</p>
      <p> &copy; 2011-{{ "now"|date("Y") }} {{ site.title }} SRL.</p>

      <a href="https://www.facebook.com/TekkieC" title="Tekkie Consulting on Facebook">
        <i class="footer-icon ion-social-facebook"></i>
      </a>
      <a href="https://github.com/tekkie" title="Tekkie Consulting on GitHub">
        <i class="footer-icon ion-social-github"></i>
      </a>
      <a href="https://twitter.com/TekkieC" title="Tekkie Consulting on Twitter">
        <i class="footer-icon ion-social-twitter"></i>
      </a>
    </div>

  </div><!-- .container -->
</footer>
<a href="#" id="back-to-top" title="Back to top">&uarr;</a>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ site.url }}/components/jquery/jquery.min.js"><\/script>')</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% block scripts %}
{% endblock %}

<script type="text/javascript" src="{{ site.url }}/themes/tekkie/tekkie/assets/js/footer_bottom.js"></script>
<script type="text/javascript" src="{{ site.url }}/themes/tekkie/tekkie/assets/js/cookie_consent.js"></script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.10/cookieconsent.min.js"></script>
<script src="{{ site.url }}/components/highlightjs/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

{% block scripts_after %}
{% endblock %}
</body>
</html>
