<footer class="footer" id="footer">
  <div class="container">

    <div class="col-md-12 text-center margin-bottom">
      <p class="footer-about">Automation testing, large scale applications architecture and DevOps expertise</p>
      <p> &copy; 2011-{{ "now"|date("Y") }} {{ site.title }} SRL.</p>

      <a href="https://www.facebook.com/TekkieC" title="Tekkie Consulting on Facebook">
        <i class="footer-icon ion-social-facebook"></i>
      </a>
      <a href="https://github.com/tekkie" title="Tekkie Consulting on GitHub">
        <i class="footer-icon ion-social-github"></i>
      </a>
      <a href="https://twitter.com/TekkieC" title="Tekkie Consulting on Twitter">
        <i class="footer-icon ion-social-twitter"></i>
      </a>
    </div>

  </div><!-- .container -->
</footer>
<a href="#" id="back-to-top" title="Back to top">&uarr;</a>
