
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

<link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" href="{{ site.url }}/components/highlightjs/styles/github.css" />

{% for stylesheet in theme_paths("assets/css/style.css") %}
<link href="{{ site.url }}/{{ stylesheet }}" rel="stylesheet" media="screen" />
{% endfor %}
