
{% if site.analytics.google %}
<script type="text/javascript">
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', '{{ site.analytics.google }}', 'auto');
ga('send', 'pageview');
</script>
{% endif %}

<header>
<nav class="navbar navbar-toggleable-md navbar-light bg-faded navbar-inverse fixed-top navbar-tkc">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" href="{{ site.url }}/">
    <img src="{{ site.url }}/{{ theme_path("assets/images/logomark-tekkie-white.svg") }}" height="32" />
    <span>{{ site.title }}</span>
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">

      <li class="nav-item{% if page.layout == 'post' or page.menu_active == 'blog' %} active{% endif %}">
        <a href="{{ site.url }}/blog" class="nav-link">
          Blog
          {%- if page.layout == 'post' or page.menu_active == 'blog' -%} <span class="sr-only">(current)</span>{%- endif -%}
        </a>
      </li>
      <li class="nav-item{% if page.menu_active == 'services' %} active{% endif %}">
        <a href="{{ site.url }}/services" class="nav-link">
          Services
          {%- if page.menu_active == 'services' -%} <span class="sr-only">(current)</span>{%- endif -%}
        </a>
      </li>
      <li class="nav-item{% if page.menu_active == 'about' %} active{% endif %}">
        <a href="{{ site.url }}/about" class="nav-link">
          About
          {%- if page.menu_active == 'about' -%} <span class="sr-only">(current)</span>{%- endif -%}
        </a>
      </li>
      <li class="nav-item{% if page.menu_active == 'contact' %} active{% endif %}">
        <a href="{{ site.url }}/contact" class="nav-link">
          Contact
          {%- if page.menu_active == 'contact' -%} <span class="sr-only">(current)</span>{%- endif -%}
        </a>
      </li>
    </ul>

  </div>
</nav>
</header>
