<header>
    <div class="navbar navbar-inverse navbar-fixed-top navbar-tkc">
        <div class="navbar-inner">
            <div class="container-fluid">
                <div class="navbar-header">
                  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </a>
                  <a class="navbar-brand" href="{{ site.url }}/">
                    <img src="{{ site.url }}/{{ theme_path("assets/images/logomark-tekkie-white.svg") }}" />
                    <span>{{ site.title }}</span>
                  </a>
                </div><!-- .navbar-header -->
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li{% if page.layout == 'post' or page.menu_active == 'blog' %} class="active"{% endif %}><a href="{{ site.url }}/blog">Blog</a></li>
                        <li{% if page.menu_active == 'services' %} class="active"{% endif %}><a href="{{ site.url }}/services">Services</a></li>
                        <li><a href="{{ site.url }}/about">About</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
</header>
