{% extends "basic" %}

{%- block content_wrapper -%}

    <div class="ui grid stackable container">
        <div class="twelve wide column">
            {% block post_title %}{% endblock post_title %}
            {% block content %}{% endblock %}
            {% block items_pagination %}{% endblock %}
        </div>

        <div class="four wide column">
            {% block contentSidebar %}{% endblock %}
        </div>
    </div>
{%- endblock -%}
