{% extends "onecolumn" %}

{% block scripts_after %}
<!-- G MAPS -->
<script type="text/javascript">
var map;
function initMap() {
  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat:46.064335, lng:23.567661 },
    zoom: 17,
    scrollwheel:  false
  });
  var marker = new google.maps.Marker({
    position: {lat:46.064335, lng:23.567661 },
    map: map,
    title: 'Tekkie Consulting SRL'
  });
}
</script>
<script
  src="http://maps.googleapis.com/maps/api/js?key={{ site.maps_key }}&callback=initMap">
</script>
{% endblock %}
