<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <link rel="shortcut icon" href="{{ site.url }}/themes/tekkie/tekkie/assets/images/favicon.ico">
  <title>{% block title %}{{ page.title }}{% endblock %}
{%- if page.layout == 'post' or page.menu_active == 'blog' -%}
 &mdash; Tekkie Consulting Blog
{%- else -%}
 &mdash; {{ site.title }} &mdash; {{ site.subtitle }}
{%- endif -%}
</title>
  <meta charset="utf-8">
  <meta name="theme-color" content="#ffffff">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block head_meta %}
  <meta name="robots" content="follow">
        {% endblock %}

        {% block meta %}{% endblock %}

  {% include 'head_styles.html' only %}
  <style>
  /** quick fix because bootstrap <pre> has a background-color. */
  pre code { background-color: inherit; }
  </style>
        {% block head_styles %}
        {% endblock %}
        {% block head_scripts %}
        {% endblock %}

</head>
<body>
{% include "navigation" %}
        <div class="mainContent container">
            <div class="row">
                <div class="col-lg-8">
                    {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}
                </div>
                <div class="col-lg-4 sidebar">
                    {% block contentSidebar %}
                    {% if data.posts_categories %}
                    <div class="well-xs sidebar-nav">
                      <h4 class="sidebar-title">Categories</h4>
                      <ul class="sidebar-list">
                      {% for category,posts in data.posts_categories %}
                      <li class="sidebar-li"><a href="{{ site.url }}/blog/categories/{{ category|url_encode(true) }}">{{ category }}</a></li>
                      {% endfor %}
                      </ul>
                    </div>
                    {% endif %}
                    {% endblock %}
                </div>
            </div>
        </div>
{% include "footer" %}
