<!DOCTYPE html>

<head>
  {% include 'head_meta' only %}

  <title>{% block title %}{{ page.title }}{% endblock %}
{%- if page.layout == 'post' or page.menu_active == 'blog' -%}
 &mdash; Tekkie Consulting Blog
{%- else -%}
 &mdash; {{ site.title }} &mdash; {{ site.subtitle }}
{%- endif -%}
</title>

{% block head_meta %}{% endblock %}
{% block meta %}{% endblock %}

{% include 'head_styles' only %}

{% block head_styles %}{% endblock %}
{% block head_scripts %}{% endblock %}

</head>
<body{% if page.html_id %} id="{{ page.html_id }}"{% endif %}>

{% include "navigation" %}

<div class="mainContent container">

{% block content_wrapper %}{% block content %}{% endblock %}{% block items_pagination %}{% endblock %}{% endblock %}

</div><!-- .mainContent -->

{% include "footer" %}
{% include "footer_scripts" %}

{% block scripts_after %}{% endblock %}

</body>
</html>
