<div class="row">
    <div class="12u">
        <hr />
        <h3>Find us on ...</h3>
        <ul class="social">
            <li><a href="https://twitter.com/TekkieC" class="icon fa-twitter"><span class="label">Tekkie Consulting on Twitter</span></a></li>
            <li><a href="https://www.facebook.com/TekkieC" class="icon fa-facebook"><span class="label">Tekkie Consulting on Facebook</span></a></li>
            <li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
            <li><a href="https://github.com/tekkie" class="icon fa-github"><span class="label">Tekkie Consulting on GitHub</span></a></li>
        </ul>
        <hr />
    </div>
</div>
