---
layout: simple
title: Home
generator: pagination
pagination:
    max_per_page: 3
use:
    - posts
    - posts_categories
---
{% block meta %}

  <!-- Facebook -->
  <meta property="og:title" content="{{ site.meta.fb.title }}" />
  <meta property="og:url" content="{{ site.meta.fb.url }}" />
  <meta property="og:image" content="{{ site.url }}{{ site.meta.fb.image }}" />
  <meta property="og:description" content="{{ site.meta.fb.description }}" />
{% endblock %}

{% block content %}


  <section class="intro-img">
      <div class="container">
        <div class=intro-text>
          <h1 class="intro-title">Tekkie Consulting</h1>
          <div class="company-summary"><p>{{ site.company.summary }}</p></div>
        </div>

      <a href="{{ site.url }}/services" role="button" class="btn btn-lg intro-cta-button btn-primary">Check out more <span aria-hidden="true"></span></a>

      </div>
  </section><!-- end intro img -->
  <section class="services-section">
    <div class="container">
      <div class="section-intro">
        <h2 class="section-intro-title">What we do</h2>
        <div class="section-summary"><p>Tekkie Consulting offers the following high quality services.</p></div>
      </div>
      {% for service in site.company.services %}
          <div class="col-md-3 col-sm-3 col-xs-6 margin-bottom text=center">
            <h4 class="text-center service-text {{service.title}}">{{ service.title }}</h4>
          </div>
      {% endfor %}
    </div>
  </section>


<section class="section-blog-posts">
  <div class="container">
    <div class="section-intro">
      <h2 class="section-intro-title">From our blog</h2>
      <div class="section-summary"><p>The latest news from our blog. Happy reading.</p></div>
    </div>
{% for post in page.pagination.items %}
{% set postTitle = post.title %}
    <div class="col-md-4 clear">
      {% if postTitle|length < post.title|length %}{% set postTitle = postTitle ~ "..." %}{% endif %}

          <div class="post-title">
            <h3 class="article-title"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ postTitle }}</a></h3>
          </div>

          {% if post.meta.tags %}
            {% for tag in post.meta.tags %}
              <a href="{{ site.url }}/blog/tags/{{ tag|url_encode(true) }}" class="btn btn-default btn-xs"><i class="ion-ios-pricetags-outline" ></i>{{ tag }}</a>
            {% endfor %}

            {% if post.excerpt %}
              <div class="post-excerpt">
                <p class="fp-excerpt">{{ post.excerpt }}</p>
              </div>
            {% else %}
              <p class="fp-content">{{ post.blocks.content|raw[0:100] }}</p>
            {% endif %}
            <a class="btn btn-primary" href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">Read more</a>


      {% endif %}
      </div>
{% endfor %}
</div>
</section>
{% endblock %}
