---
layout: simple
title: Home
generator: pagination
pagination:
    max_per_page: 3
use:
    - posts
    - posts_categories
---
{% block meta %}

  <!-- Facebook -->
  <meta property="og:title" content="{{ site.meta.fb.title }}" />
  <meta property="og:url" content="{{ site.meta.fb.url }}" />
  <meta property="og:image" content="{{ site.url }}{{ site.meta.fb.image }}" />
  <meta property="og:description" content="{{ site.meta.fb.description }}" />
{% endblock %}

{% block content %}

<div class="tk-services container">

<div class="jumbotron">
  <h1>Tekkie Consulting</h1>
  <p>{{ site.company.summary }}</p>


  {% for service in site.company.services %}
  <div class="panel panel-default">

    <div class="panel-body">
      {{ service.title }}
    </div>

  </div>
  {% endfor %}

  <nav>
    <ul class="pager">
      <li class="next"><a href="{{ site.url }}/services" role="button" class="btn btn-primary btn-lg">Check our services <span aria-hidden="true">&rarr;</span></a></li>
    </ul>
  </nav>
</div>
</div>

<div class="container blog-posts">
  <h2>From the blog</h2>
{% for post in page.pagination.items %}
{% set postTitle = post.title[0:60] %}
{% if postTitle|length < post.title|length %}{% set postTitle = postTitle ~ "..." %}{% endif %}
  <div class="panel span4">
    <div class="panel-heading">
      <h3 class="panel-title"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ postTitle }}</a></h3>
    </div>
    {% if post.meta.tags %}
    <div class="panel-body">
        <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
        <ul class="tags nav nav-pills">
        {% for tag in post.meta.tags %}
        <li role="presentation"><a href="{{ site.url }}/blog/tags/{{ tag|url_encode(true) }}" class="btn-xs">{{ tag }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="panel-footer">
      {% if post.excerpt %}
        {{ post.excerpt }}
      {% else %}
        {{ post.blocks.content|raw }}
      {% endif %}
    </div>
    {% endif %}
  </div>
{% endfor %}
</div>
{% endblock %}
